:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  --c-stretching: lch(46 110 33);
  --c-resting: lch(46 110 281);
  --c-ripple-src: 'https://assets.codepen.io/100347/fedm_ripple.jpg';
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
body.resting {
  background: linear-gradient(to bottom, #242424 76%, var(--c-resting) 100%);
}
body.stretching {
  background: linear-gradient(to bottom, #242424 76%, var(--c-stretching) 100%);
}

svg {
  width: 100%;
}

#app {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

button {
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  grid-column: span 1;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p,
time {
  grid-column: 1 / 3;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
